[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=user
WorkingDirectory=/home/user/sites/SITENAME/source
Environment=EMAIL_PASSWORD=PWD
ExecStart=/home/user/sites/SITENAME/virtualenv/bin/gunicorn \
--bind unix:/tmp/SITENAME.socket \
--access-logfile ../access.log \
--error-logfile ../error.log \
superlists.wsgi:application

[Install]
WantedBy=multi-user.target